@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@700&display=swap");

.App {
  height: 200px;
  background-color: #fff;
  .container {
    width: 940px;
    margin: 0 auto;
    position: relative;
    .text {
      color: white;
      font-size: 42px;
      font-weight: 700;
      font-family: "Be Vietnam", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      position: fixed;
      z-index: 1;
      text-align: center;
      top: 180px;
      mix-blend-mode: difference;
      width: 940px;
    }
  }
  .white {
    position: relative;
    background: #fff;
    height: 600px;
  }
  .black {
    position: relative;
    background: #000;
    height: 600px;
    width: 100%;
  }
}
